{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/acceso_style.css' %}">
    </head> 
    <div class="all">
        <div class="wrapper">
            <form method="POST"> 
                {% csrf_token %}
            <div class="input-data">
                <input type='text' name='nombre' requiered>
                <div class="underline"></div>
                <label>Nombre</label>
            </div>
            <div class="input-data">
                <input type='text' name='username' requiered>
                <div class="underline"></div>
                <label>Usuario</label>
            </div>
            <input type="submit" value="Listo">
            </form>
            <!-- <a type="submit" href="http://127.0.0.1:8000/frases/">Listo</a> -->
        </div>
    </div>
</html>
{% endblock %}
