{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/frase_style.css' %}">
    </head>
    <div class="todo">
        <div class="containerFrase">
            <div class="cardFrase">
                <div class="circle">
                    <h2>01</h2>
                </div>
                <div class="frase">
                    <p>{{ object.contenido}}</p>
                    <a href="#">Continuar</a>
                </div>
            </div>

        </div>    
    </div>
</html>
{% endblock %}