{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/frase_style.css' %}">
    </head>
    <div class="todo">
        <div class="containerFrase">
            <div class="cardFrase">
                <div class="circle">
                    <h2>01</h2>
                </div>
                <div class="frase">
                    <p>{{ object1.contenido}}</p>
                    <a id="YES" href="#">Enviado</a><span><a id="NO" href="#">No Enviado</a></span>

                </div>
            </div>
            <div class="cardFrase">
                <div class="circle">
                    <h2>02</h2>
                </div>
                <div class="frase">
                    <p>{{ object2.contenido}}</p>
                    <a id="YES" href="#">Enviado</a><span><a id="NO" href="#">No Enviado</a></span>
                </div>
            </div>
            <div class="cardFrase">
                <div class="circle">
                    <h2>03</h2>
                </div>
                <div class="frase">
                    <p>{{ object3.contenido}}</p>
                    <a id="YES" class="btn" href="#">Enviado</a><span><a class="btn" id="NO" href="#">No Enviado</a></span>
                </div>
            </div>
        </div>
        <div class="formulario">
            <div class="popup-content">
                <h2>Resultado</h2>
                <form method="POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value="Save">
                </form>
            </div>
        </div>    
    </div>
</html>
{% endblock %}