{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/navbar_style.css' %}">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">IceBreaker</label>
      <ul>
        <li><a class="active" href="#">Perfil</a></li>
        <li><a href="#">¿Cómo jugar?</a></li>
      </ul>
    </nav>
    {% block test %}
    cambiarme
    {% endblock %}
  </body>
</html>